{% extends "network/layout.html" %} 
{% block body %}
<div class="side-main">
  	<div class="main-top-bar">
   	 	<p>Following</p>
  	</div>
  	<div class="" style="padding-top: 15px;">
		<ul class="nav nav-tabs" role="tablist">
			<li class="nav-item" style="width: 50%;">
				<a class="nav-link tab-link active" data-toggle="tab" href="#followers" role="tab">Followers</a>
			</li>
			<li class="nav-item" style="width: 50%;">
				<a class="nav-link tab-link" data-toggle="tab" href="#following" role="tab">Following</a>
			</li>

		</ul><!-- Tab panes -->
		<div class="tab-content" >
			<div class="tab-pane active disable-scrollbars" id="followers" role="tabpanel" style="max-height: 800px;">
				<div class="follow-card post">
					<div class="follow-user-icon">
						<i class="fas fa-user-circle"></i>
					</div>
					<div class="follow-username">
						<div class="post-username">
							<span>Lethamyr</span>
						</div>
					</div>
					<div class="follow-button">
						<button><span>Follow</span></button>
					</div>
				</div>
				<div class="follow-card post">
					<div class="follow-user-icon">
						<i class="fas fa-user-circle"></i>
					</div>
					<div class="follow-username">
						<div class="post-username">
							<span>Lethamyr</span>
						</div>
					</div>
					<div class="follow-button">
						<button><span>Follow</span></button>
					</div>
				</div>
				<div class="follow-card post">
					<div class="follow-user-icon">
						<i class="fas fa-user-circle"></i>
					</div>
					<div class="follow-username">
						<div class="post-username">
							<span>Lethamyr</span>
						</div>
					</div>
					<div class="follow-button">
						<button><span>Follow</span></button>
					</div>
				</div>
				<div class="follow-card post">
					<div class="follow-user-icon">
						<i class="fas fa-user-circle"></i>
					</div>
					<div class="follow-username">
						<div class="post-username">
							<span>Lethamyr</span>
						</div>
					</div>
					<div class="follow-button">
						<button><span>Follow</span></button>
					</div>
				</div>
				<div class="follow-card post">
					<div class="follow-user-icon">
						<i class="fas fa-user-circle"></i>
					</div>
					<div class="follow-username">
						<div class="post-username">
							<span>Lethamyr</span>
						</div>
					</div>
					<div class="follow-button">
						<button><span>Follow</span></button>
					</div>
				</div>
				<div class="follow-card post">
					<div class="follow-user-icon">
						<i class="fas fa-user-circle"></i>
					</div>
					<div class="follow-username">
						<div class="post-username">
							<span>Lethamyr</span>
						</div>
					</div>
					<div class="follow-button">
						<button><span>Follow</span></button>
					</div>
				</div>
				<div class="follow-card post">
					<div class="follow-user-icon">
						<i class="fas fa-user-circle"></i>
					</div>
					<div class="follow-username">
						<div class="post-username">
							<span>Lethamyr</span>
						</div>
					</div>
					<div class="follow-button">
						<button><span>Follow</span></button>
					</div>
				</div>
				<div class="follow-card post">
					<div class="follow-user-icon">
						<i class="fas fa-user-circle"></i>
					</div>
					<div class="follow-username">
						<div class="post-username">
							<span>Lethamyr</span>
						</div>
					</div>
					<div class="follow-button">
						<button><span>Follow</span></button>
					</div>
				</div>
				<div class="follow-card post">
					<div class="follow-user-icon">
						<i class="fas fa-user-circle"></i>
					</div>
					<div class="follow-username">
						<div class="post-username">
							<span>Lethamyr</span>
						</div>
					</div>
					<div class="follow-button">
						<button><span>Follow</span></button>
					</div>
				</div>
				<div class="follow-card post">
					<div class="follow-user-icon">
						<i class="fas fa-user-circle"></i>
					</div>
					<div class="follow-username">
						<div class="post-username">
							<span>Lethamyr</span>
						</div>
					</div>
					<div class="follow-button">
						<button><span>Follow</span></button>
					</div>
				</div>
				<div class="follow-card post">
					<div class="follow-user-icon">
						<i class="fas fa-user-circle"></i>
					</div>
					<div class="follow-username">
						<div class="post-username">
							<span>Lethamyr</span>
						</div>
					</div>
					<div class="follow-button">
						<button><span>Follow</span></button>
					</div>
				</div>
				<div class="follow-card post">
					<div class="follow-user-icon">
						<i class="fas fa-user-circle"></i>
					</div>
					<div class="follow-username">
						<div class="post-username">
							<span>Lethamyr</span>
						</div>
					</div>
					<div class="follow-button">
						<button><span>Follow</span></button>
					</div>
				</div>
				<div class="follow-card post">
					<div class="follow-user-icon">
						<i class="fas fa-user-circle"></i>
					</div>
					<div class="follow-username">
						<div class="post-username">
							<span>Lethamyr</span>
						</div>
					</div>
					<div class="follow-button">
						<button><span>Follow</span></button>
					</div>
				</div>

			</div>
			<div class="tab-pane disable-scrollbars" id="following" role="tabpanel" style="max-height: 800px;">
				<div class="follow-card post">
					<div class="follow-user-icon">
						<i class="fas fa-user-circle"></i>
					</div>
					<div class="follow-username">
						<div class="post-username">
							<span>DIG Jack</span>
						</div>
					</div>
					<div class="unfollow-button">
						<button><span>Following</span></button>
					</div>
				</div>
				<div class="follow-card post">
					<div class="follow-user-icon">
						<i class="fas fa-user-circle"></i>
					</div>
					<div class="follow-username">
						<div class="post-username">
							<span>DIG Jack</span>
						</div>
					</div>
					<div class="unfollow-button">
						<button><span>Following</span></button>
					</div>
				</div>
				<div class="follow-card post">
					<div class="follow-user-icon">
						<i class="fas fa-user-circle"></i>
					</div>
					<div class="follow-username">
						<div class="post-username">
							<span>DIG Jack</span>
						</div>
					</div>
					<div class="unfollow-button">
						<button><span>Following</span></button>
					</div>
				</div>
				<div class="follow-card post">
					<div class="follow-user-icon">
						<i class="fas fa-user-circle"></i>
					</div>
					<div class="follow-username">
						<div class="post-username">
							<span>DIG Jack</span>
						</div>
					</div>
					<div class="unfollow-button">
						<button><span>Following</span></button>
					</div>
				</div>
				<div class="follow-card post">
					<div class="follow-user-icon">
						<i class="fas fa-user-circle"></i>
					</div>
					<div class="follow-username">
						<div class="post-username">
							<span>DIG Jack</span>
						</div>
					</div>
					<div class="unfollow-button">
						<button><span>Following</span></button>
					</div>
				</div>
				<div class="follow-card post">
					<div class="follow-user-icon">
						<i class="fas fa-user-circle"></i>
					</div>
					<div class="follow-username">
						<div class="post-username">
							<span>DIG Jack</span>
						</div>
					</div>
					<div class="unfollow-button">
						<button><span>Following</span></button>
					</div>
				</div>
				<div class="follow-card post">
					<div class="follow-user-icon">
						<i class="fas fa-user-circle"></i>
					</div>
					<div class="follow-username">
						<div class="post-username">
							<span>DIG Jack</span>
						</div>
					</div>
					<div class="unfollow-button">
						<button><span>Following</span></button>
					</div>
				</div>
				<div class="follow-card post">
					<div class="follow-user-icon">
						<i class="fas fa-user-circle"></i>
					</div>
					<div class="follow-username">
						<div class="post-username">
							<span>DIG Jack</span>
						</div>
					</div>
					<div class="unfollow-button">
						<button><span>Following</span></button>
					</div>
				</div>
				<div class="follow-card post">
					<div class="follow-user-icon">
						<i class="fas fa-user-circle"></i>
					</div>
					<div class="follow-username">
						<div class="post-username">
							<span>DIG Jack</span>
						</div>
					</div>
					<div class="unfollow-button">
						<button><span>Following</span></button>
					</div>
				</div>
				<div class="follow-card post">
					<div class="follow-user-icon">
						<i class="fas fa-user-circle"></i>
					</div>
					<div class="follow-username">
						<div class="post-username">
							<span>DIG Jack</span>
						</div>
					</div>
					<div class="unfollow-button">
						<button><span>Following</span></button>
					</div>
				</div>
				<div class="follow-card post">
					<div class="follow-user-icon">
						<i class="fas fa-user-circle"></i>
					</div>
					<div class="follow-username">
						<div class="post-username">
							<span>DIG Jack</span>
						</div>
					</div>
					<div class="unfollow-button">
						<button><span>Following</span></button>
					</div>
				</div>
				<div class="follow-card post">
					<div class="follow-user-icon">
						<i class="fas fa-user-circle"></i>
					</div>
					<div class="follow-username">
						<div class="post-username">
							<span>DIG Jack</span>
						</div>
					</div>
					<div class="unfollow-button">
						<button><span>Following</span></button>
					</div>
				</div>
				<div class="follow-card post">
					<div class="follow-user-icon">
						<i class="fas fa-user-circle"></i>
					</div>
					<div class="follow-username">
						<div class="post-username">
							<span>DIG Jack</span>
						</div>
					</div>
					<div class="unfollow-button">
						<button><span>Following</span></button>
					</div>
				</div>
			</div>
		</div>
  </div>
  
</div>
{% endblock %}