{% extends "network/layout.html" %} 
{% load static %}
{% block body %}
<div class="side-main">
  	<div class="main-top-bar">
   	 	<p>{{profile_user}}</p>
  	</div>
  	<div class="" style="padding-top: 15px;">
		<ul class="nav nav-tabs" role="tablist">
			<li class="nav-item" style="width: 50%;">
				<a class="nav-link tab-link {% if following == 'followers' %} active {% endif %}" data-toggle="tab" href="#followers" role="tab" onclick="set_url('/{{profile_user.id}}/followers');">Followers</a>
			</li>
			<li class="nav-item" style="width: 50%;">
				<a class="nav-link tab-link  {% if following == 'following' %} active {% endif %}" data-toggle="tab" href="#following" role="tab" onclick="set_url('/{{profile_user.id}}/following');">Following</a>
			</li>

		</ul><!-- Tab panes -->
		<div class="tab-content" >
			<div class="tab-pane {% if following == 'followers' %} active {% endif %} disable-scrollbars" id="followers" role="tabpanel" style="max-height: 800px;">
				{% for follower in profile_user.followers.all %}
					<div class="follow-card post">
						<div class="follow-user-icon">
							<i class="fas fa-user-circle"></i>
						</div>
						<div class="follow-username">
							<div class="post-username">
								<span><a href="{% url 'profile' follower.id %}">{{follower}}</a></span>
							</div>
						</div>
						{% if user.is_authenticated %}
							{% if user != follower %}
								{% if follower in user.followees.all %}
									<div class="unfollow-button">
										<button onclick="profile_unfollow({{follower.id}}, {{profile_user.id}});"><span>Following</span></button>
									</div>
								{% else %}
									<div class="follow-button">
										<button onclick="profile_follow({{follower.id}}, {{profile_user.id}});"><span>Follow</span></button>
									</div>
								{% endif %}
							{% endif %}
						{% endif %}
					</div>
				{% endfor %}

			</div>
			<div class="tab-pane {% if following == 'following' %} active {% endif %} disable-scrollbars" id="following" role="tabpanel" style="max-height: 800px;">
				{% for followee in profile_user.followees.all %}
					<div class="follow-card post">
						<div class="follow-user-icon">
							<i class="fas fa-user-circle"></i>
						</div>
						<div class="follow-username">
							<div class="post-username">
								<span><a href="{% url 'profile' followee.id %}">{{followee}}</a></span>
							</div>
						</div>
						{% if user.is_authenticated %}
							{% if user != followee %}
								{% if followee in user.followees.all %}
									<div class="unfollow-button">
										<button  onclick="profile_unfollow({{followee.id}}, {{profile_user.id}});"><span>Following</span></button>
									</div>
								{% else %}
									<div class="follow-button">
										<button onclick="profile_follow({{followee.id}}, {{profile_user.id}});"><span>Follow</span></button>
									</div>
								{% endif %}
							{% endif %}	
						{% endif %}	
					</div>
				{% endfor %}
	
			</div>
		</div>

		<div id="twit-modal" class="modal" tabindex="-1" role="dialog" style="background: #a8a8a84d;">
			<div class="modal-dialog" role="document" style="min-width: 590px;">
				  <div class="modal-content" style="background: black; border-radius: 15px;">
					<div class="modal-header" style="border-bottom: 1px solid #ffffff6e;">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body" >
						<form action="{% url 'index' %}" method="POST">
							{% csrf_token %}
							<div class="">
								<div class="write-twit">
									<div class="">
										<i class="fas fa-user-circle"></i>
									</div>
									<textarea name="post" id="post" cols="30" rows="3" placeholder="what's happening?"></textarea>	
								</div>
							<div style="display: flex; justify-content: right; ">
								<button class="add-twit-button" style="width: 100px; height: 40px; margin-top: 15px; margin-bottom: 20px; margin-right: 6%;">
									New Post
								</button>
							</div>
						</form>
					</div>
				</div>
			  </div>
			</div>
		</div>
  </div>
  
</div>

	{{ user.serialize|json_script:"user" }}
{% endblock %}

{% block script %}
	<script src="{% static 'network/assets/js/main.js' %}"></script>

{% endblock %}