{% extends "network/layout.html" %}

{% block body %}
<div class="side-main"> 
	<div class="top-fixed">
		<a href="#" class="link-home">Home</a>
	</div>
  <div class="write-twit">
	  <img src="https://i.imgur.com/4FbD7mF.png" alt="" class="user-img-40">
	  <textarea name="" id="" cols="30" rows="3" placeholder="what's happening?"></textarea>
  </div>
  <div class="post-container disable-scrollbars">
	  <div class="post">
		  <div class="post-user">
			  <i class="fas fa-user-circle"></i>
		  </div>
		  <div class="post-content">
			  <div class="post-username">
				  <span>DIG Jack</span>
			  </div>
			  <div class="post-text">
				  <p>Awful awful day from us but we played a lil better in the last series and made top 8. I couldnt be prouder of my teammates' resilience today. LETS GO BOYS i love you both</p>
			  </div>
			  <div class="post-buttons">
				  <div class="post-button">
					  <a href=""><i class="far fa-heart"></i></a>
					  <span>25</span>
				  </div>
				  <div class="post-button">
					  <a href=""><i class="fas fa-heart-broken"></i></a>
					  <span>25</span>
				  </div>
			  </div>
		  </div>
	  </div>
	  <div class="post">
		  <div class="post-user">
			  <i class="fas fa-user-circle"></i>
		  </div>
		  <div class="post-content">
			  <div class="post-username">
				  <span>DIG Jack</span>
			  </div>
			  <div class="post-text">
				  <p>Awful awful day from us but we played a lil better in the last series and made top 8. I couldnt be prouder of my teammates' resilience today. LETS GO BOYS i love you both</p>
			  </div>
			  <div class="post-buttons">
				  <div class="post-button">
					  <a href=""><i class="far fa-heart"></i></a>
					  <span>25</span>
				  </div>
				  <div class="post-button">
					  <a href=""><i class="fas fa-heart-broken"></i></a>
					  <span>25</span>
				  </div>
			  </div>
		  </div>
	  </div>
	  <div class="post">
		  <div class="post-user">
			  <i class="fas fa-user-circle"></i>
		  </div>
		  <div class="post-content">
			  <div class="post-username">
				  <span>DIG Jack</span>
			  </div>
			  <div class="post-text">
				  <p>Awful awful day from us but we played a lil better in the last series and made top 8. I couldnt be prouder of my teammates' resilience today. LETS GO BOYS i love you both</p>
			  </div>
			  <div class="post-buttons">
				  <div class="post-button">
					  <a href=""><i class="far fa-heart"></i></a>
					  <span>25</span>
				  </div>
				  <div class="post-button">
					  <a href=""><i class="fas fa-heart-broken"></i></a>
					  <span>25</span>
				  </div>
			  </div>
		  </div>
	  </div>
	  <div class="post">
		  <div class="post-user">
			  <i class="fas fa-user-circle"></i>
		  </div>
		  <div class="post-content">
			  <div class="post-username">
				  <span>DIG Jack</span>
			  </div>
			  <div class="post-text">
				  <p>Awful awful day from us but we played a lil better in the last series and made top 8. I couldnt be prouder of my teammates' resilience today. LETS GO BOYS i love you both</p>
			  </div>
			  <div class="post-buttons">
				  <div class="post-button">
					  <a href=""><i class="far fa-heart"></i></a>
					  <span>25</span>
				  </div>
				  <div class="post-button">
					  <a href=""><i class="fas fa-heart-broken"></i></a>
					  <span>25</span>
				  </div>
			  </div>
		  </div>
	  </div>
	  <div class="post">
		  <div class="post-user">
			  <i class="fas fa-user-circle"></i>
		  </div>
		  <div class="post-content">
			  <div class="post-username">
				  <span>DIG Jack</span>
			  </div>
			  <div class="post-text">
				  <p>Awful awful day from us but we played a lil better in the last series and made top 8. I couldnt be prouder of my teammates' resilience today. LETS GO BOYS i love you both</p>
			  </div>
			  <div class="post-buttons">
				  <div class="post-button">
					  <a href=""><i class="far fa-heart"></i></a>
					  <span>25</span>
				  </div>
				  <div class="post-button">
					  <a href=""><i class="fas fa-heart-broken"></i></a>
					  <span>25</span>
				  </div>
			  </div>
		  </div>
	  </div>
	  <div class="post">
		  <div class="post-user">
			  <i class="fas fa-user-circle"></i>
		  </div>
		  <div class="post-content">
			  <div class="post-username">
				  <span>DIG Jack</span>
			  </div>
			  <div class="post-text">
				  <p>Awful awful day from us but we played a lil better in the last series and made top 8. I couldnt be prouder of my teammates' resilience today. LETS GO BOYS i love you both</p>
			  </div>
			  <div class="post-buttons">
				  <div class="post-button">
					  <a href=""><i class="far fa-heart"></i></a>
					  <span>25</span>
				  </div>
				  <div class="post-button">
					  <a href=""><i class="fas fa-heart-broken"></i></a>
					  <span>25</span>
				  </div>
			  </div>
		  </div>
	  </div>
	  <div class="post">
		  <div class="post-user">
			  <i class="fas fa-user-circle"></i>
		  </div>
		  <div class="post-content">
			  <div class="post-username">
				  <span>DIG Jack</span>
			  </div>
			  <div class="post-text">
				  <p>Awful awful day from us but we played a lil better in the last series and made top 8. I couldnt be prouder of my teammates' resilience today. LETS GO BOYS i love you both</p>
			  </div>
			  <div class="post-buttons">
				  <div class="post-button">
					  <a href=""><i class="far fa-heart"></i></a>
					  <span>25</span>
				  </div>
				  <div class="post-button">
					  <a href=""><i class="fas fa-heart-broken"></i></a>
					  <span>25</span>
				  </div>
			  </div>
		  </div>
	  </div>
	  <div class="post">
		  <div class="post-user">
			  <i class="fas fa-user-circle"></i>
		  </div>
		  <div class="post-content">
			  <div class="post-username">
				  <span>DIG Jack</span>
			  </div>
			  <div class="post-text">
				  <p>Awful awful day from us but we played a lil better in the last series and made top 8. I couldnt be prouder of my teammates' resilience today. LETS GO BOYS i love you both</p>
			  </div>
			  <div class="post-buttons">
				  <div class="post-button">
					  <a href=""><i class="far fa-heart"></i></a>
					  <span>25</span>
				  </div>
				  <div class="post-button">
					  <a href=""><i class="fas fa-heart-broken"></i></a>
					  <span>25</span>
				  </div>
			  </div>
		  </div>
	  </div>
	  <div class="post">
		  <div class="post-user">
			  <i class="fas fa-user-circle"></i>
		  </div>
		  <div class="post-content">
			  <div class="post-username">
				  <span>DIG Jack</span>
			  </div>
			  <div class="post-text">
				  <p>Awful awful day from us but we played a lil better in the last series and made top 8. I couldnt be prouder of my teammates' resilience today. LETS GO BOYS i love you both</p>
			  </div>
			  <div class="post-buttons">
				  <div class="post-button">
					  <a href=""><i class="far fa-heart"></i></a>
					  <span>25</span>
				  </div>
				  <div class="post-button">
					  <a href=""><i class="fas fa-heart-broken"></i></a>
					  <span>25</span>
				  </div>
			  </div>
		  </div>
	  </div>
	  <div class="post">
		  <div class="post-user">
			  <i class="fas fa-user-circle"></i>
		  </div>
		  <div class="post-content">
			  <div class="post-username">
				  <span>DIG Jack</span>
			  </div>
			  <div class="post-text">
				  <p>Awful awful day from us but we played a lil better in the last series and made top 8. I couldnt be prouder of my teammates' resilience today. LETS GO BOYS i love you both</p>
			  </div>
			  <div class="post-buttons">
				  <div class="post-button">
					  <a href=""><i class="far fa-heart"></i></a>
					  <span>25</span>
				  </div>
				  <div class="post-button">
					  <a href=""><i class="fas fa-heart-broken"></i></a>
					  <span>25</span>
				  </div>
			  </div>
		  </div>
	  </div>
  </div>
</div>

{% endblock %}