{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Social Network{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'network/styles.css' %}" rel="stylesheet">

        <!--===============================================================================================-->	
        <link rel="icon" type="image/png" href="{% static 'network/assets/images/icons/favicon.ico' %}"/>
        <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="{% static 'network/assets/vendor/bootstrap/css/bootstrap.min.css' %}">
        <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="{% static 'network/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
        <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="{% static 'network/assets/fonts/iconic/css/material-design-iconic-font.min.css' %}">
        <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="{% static 'network/assets/vendor/animate/animate.css' %}">
        <!--===============================================================================================-->	
            <link rel="stylesheet" type="text/css" href="{% static 'network/assets/vendor/css-hamburgers/hamburgers.min.css' %}">
        <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="{% static 'network/assets/vendor/animsition/css/animsition.min.css' %}">
        <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="{% static 'network/assets/vendor/select2/select2.min.css' %}">
        <!--===============================================================================================-->	
            <link rel="stylesheet" type="text/css" href="{% static 'network/assets/vendor/daterangepicker/daterangepicker.css' %}">
        <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="{% static 'network/assets/css/util.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'network/assets/css/main.css' %}">
        <!--===============================================================================================-->
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Network</a>
          
            <div>
              <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="#"><strong>{{ user.username }}</strong></a>
                    </li>
                {% endif %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'index' %}">All Posts</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">Following</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
              </ul>
            </div>
          </nav>
        
        <div class="body">
            {% block body %}
            {% endblock %}

        </div>

        <!--===============================================================================================-->
        <script src="{% static 'network/assets/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
        <!--===============================================================================================-->
            <script src="{% static 'network/assets/vendor/animsition/js/animsition.min.js' %}"></script>
        <!--===============================================================================================-->
            <script src="{% static 'network/assets/vendor/bootstrap/js/popper.js' %}"></script>
            <script src="{% static 'network/assets/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
        <!--===============================================================================================-->
            <script src="{% static 'network/assets/vendor/select2/select2.min.js' %}"></script>
        <!--===============================================================================================-->
            <script src="{% static 'network/assets/vendor/daterangepicker/moment.min.js' %}"></script>
            <script src="{% static 'network/assets/vendor/daterangepicker/daterangepicker.js' %}"></script>
        <!--===============================================================================================-->
            <script src="{% static 'network/assets/vendor/countdowntime/countdowntime.js' %}"></script>
        <!--===============================================================================================-->
        <script src="{% static 'network/assets/js/main.js' %}"></script>
    </body>
</html>