

{% extends "network/layout2.html" %}
{% load static %}
{% load inbox_messages %}
{% block stylesheet %}
	<link rel="stylesheet" href="{% static 'network/assets/vendor/css/pages/chat.css' %}">
	<link rel="stylesheet" href="{% static 'network/assets/vendor/css/rtl/uikit.css' %}">
	<link rel="stylesheet" href="{% static 'network/assets/vendor/css/rtl/appwork.css' %}">
{% endblock %}
{% block body %}
<div class="layout-content scrollDiv" style="width: 80%;">
	<!-- Content -->
	<div class="container-fluid d-flex align-items-stretch flex-grow-1 p-0">
		<!-- `.chat-wrapper` fills all available space of container -->
		<div class="chat-wrapper">
			<!-- Make card full height of `.chat-wrapper` -->
			<div class="flex-grow-1 position-relative overflow-hidden" style="background-color: black;">
				<!-- Make row full height of `.card` -->
				<div class="row no-gutters h-100">
					<div class="chat-sidebox col">
						<!-- Chat contacts header -->
						<div class="flex-grow-0 px-4">
							<div class="media align-items-center">
								<div class="media-body" style="height: 76px;">
								</div>
								<a href="javascript:void(0)" class="chat-sidebox-toggler d-lg-none d-block text-muted text-large font-weight-light pl-3">×</a>
							</div>
							<hr class="border-light m-0">
						</div>
						<!-- / Chat contacts header -->
						<!-- Wrap `.chat-scroll` to properly position scroll area. Remove this wtapper if you don't need scroll -->
						<div class="flex-grow-1 position-relative">
							<div class="chat-contacts list-group disable-scrollbars py-3 ps">
								{% for chat in chats %}
									{% for participant in chat.participants.all %}
										{% if user.username != participant.username %}
											<!-- Chat -->
											<a data-chat="{{chat.id}}" onclick="chat_click(this);" class="list-group-item list-group-item-action {% if chat == selected_chat %} active {% endif %}">
												<i class="fas fa-user-circle"></i>
												<div class="media-body ml-3">
													{{participant.username}}
												</div>
												<div class="badge chat-badge"></div>
											</a>
											<!-- Chat -->
										{% endif %}
									{% endfor %}
								{% endfor %}
								
							</div>
							<!-- / .chat-contacts -->
						</div>
					</div>
					<div class="chat-mainbox d-flex col flex-column">
						<!-- Unselected chat -->
						<div class="unselected-chat-container" style="{% if selected_chat == None %} display: flex; {% else %} display: none; {% endif %};">
							<div>
								<span class="header text-white" style="font-size:40px;">You don’t have a</br> message selected</span>
							</div>
							<div>
								<span class="chat-text p">Choose one from your existing messages</span>
							</div>
						</div>
					
						<!-- Unselected chat -->
						<div class="chat-mainbox d-flex col flex-column" style="{% if selected_chat != None %} display: block; {% else %} display: none; {% endif %};">
							<!-- Selected chat -->
								<!-- Chat header -->
								<div class="flex-grow-0 py-3 pr-4 pl-lg-4" style="border-bottom: 1px solid #ffffff38;">
									<div class="media align-items-center">
										<a href="javascript:void(0)" class="chat-sidebox-toggler d-lg-none d-block text-muted text-large px-4 mr-2" ><i class="ion ion-md-more" style="font-size: 36px; color:#8e8d8d !important;"></i></a>
										<div class="position-relative">
											<span class="badge badge-dot badge-success indicator"></span>
											<a href="javascript:void(0)"><i class="fas fa-user-circle"></i></a>
										</div>
										<div class="media-body pl-3 text-w">
											{% if selected_chat != None %}
												{% for participant in selected_chat.participants.all %}
													{% if user.username != participant.username %}
														{{participant}}
													{% endif %}
												{% endfor %}
											{% endif %}
										</div>
									</div>
								</div>
								<hr class="flex-grow-0 border-light m-0">
								<!-- / Chat header -->
								<!-- Wrap `.chat-scroll` to properly position scroll area. Remove this wtapper if you don't need scroll -->
								<div class="flex-grow-1 position-relative">
									<!-- Remove `.chat-scroll` and add `.flex-grow-1` if you don't need scroll -->
									<!-- / .chat-messages -->
									<div class="chat-messages chat-scroll custom-scrollbar p-4 ps">
										{% if selected_chat != None %}
											{% for message in selected_chat.chat_messages|get_inbox_messages:user %}
													{% if user == message.sender %}
														<div class="chat-message-right mb-4">
															<div>
																<a href="javascript:void(0)"><i class="fas fa-user-circle"></i></a>
																<div class="text-muted  text-nowrap mt-2">{{message.timestamp|time:'P'}}</div>
															</div>
															<div class="chat-text flex-shrink-1 chat-item rounded py-2 px-3 mr-3">
																<div class="font-weight-semibold mb-1 chat-text-username">{{message.sender}}</div>
																{{message.message}}
															</div>
														</div>
													{% else %}
														<div class="chat-message-left mb-4">
															<div>
																<a href="javascript:void(0)"><i class="fas fa-user-circle"></i></a>
																<div class="text-muted  text-nowrap mt-2">{{message.timestamp|time:'P'}}</div>
															</div>
															<div class="chat-text flex-shrink-1 chat-item rounded py-2 px-3 ml-3">
																<div class="font-weight-semibold mb-1 chat-text-username">{{message.sender}}</div>
																{{message.message}}
															</div>
														</div>
													{% endif %}
												{% endfor %}
										{% endif %}
									
									</div>
									<!-- / .chat-messages -->
								</div>
								<!-- Chat footer -->
								<hr class="border-light m-0">
								<div class="flex-grow-0 py-3 px-4" style="border-top: 1px solid #ffffff38;">
									<div class="input-group">
										<input type="text" class="form-control chat-input" placeholder="Type your message" style="height: 55px; background-color: black; color: white; ">
										<div class="input-group-append">
											<button type="button">
												<a class="chat-send" data-toggle="modal" data-target="#twit-modal">
													<i class="fas fa-feather-alt"></i>
												</a>
											</button>
											
										</div>
									</div>
								</div>
							<!-- / Chat footer -->
							<!-- Selected chat -->
						</div>
					</div>
				</div>
				<!-- / .row -->
			</div>
			<!-- / .card -->
		</div>
		<!-- / .chat-wrapper -->
	</div>
	<!-- / Content -->
</div>
{% endblock %}
{% block script %}
	<script src="{% static 'network/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
	<script src="{% static 'network/assets/vendor/libs/popper/popper.js' %}"></script>
	<script src="{% static 'network/assets/js/cookies.js' %}"></script>
	<script src="{% static 'network/assets/js/pages_chat.js' %}"></script>
{% endblock %}

