{% extends "network/layout.html" %}
{% load static %}
{% block body %}
<div class="side-main"> 
	<div class="top-fixed">
		<a href="#" class="link-home">{{header}}</a>
	</div>
  	<div class="profile-top">
		<div class="profile-user">
			<i class="fas fa-user-circle"></i>
		</div>
		<div>
			<div class="profile-username">
				<span>{{profile_user}}</span>
			</div>
			<div class="profile-joined-date">
				<i class="fas fa-calendar-alt"></i><span> Joined {{profile_user.date_joined}}</span>
			</div>
			<div class="profile-following">
				<div>
					<span id="followees">{{followees}}</span><p><a href="{% url 'followers' profile_user.id 'following' %}">Following</a></p>
				</div>
				<div>
					<span id="followers">{{followers}}</span><p><a href="{% url 'followers' profile_user.id 'followers' %}">Followers</a></p>
				</div>
				<div style="display: flex; margin-left: auto;">
					{% if is_following != None and user.is_authenticated %}
						<div id="unfollow-div" class="unfollow-button" style="{% if is_following %} display: block; {% else %} display: none; {% endif %}">
							<button data-id = "{{profile_user.id}}" onclick="unfollow_user(this.dataset.id);"><span style="margin-right: 0px;">Following</span></button>
						</div>
		
						<div id="follow-div" class="follow-button" style="{% if is_following == False %} display: block; {% else %} display: none; {% endif %}">
							<button data-id = "{{profile_user.id}}" onclick="follow_user(this.dataset.id);"><span style="margin-right: 0px;">Follow</span></button>
						</div>
					{% endif %}
					
					
				</div>
			</div>
		</div>
  	</div>
	<div class="post-container disable-scrollbars" style="height: 500px;">
		{% for post in page.object_list %}
			<div class="post">
				<div class="post-user">
					<i class="fas fa-user-circle"></i>
				</div>
				<div class="post-content">
					<div class="post-username">
						<a>{{post.user}}</a>
						<span>{{post.date_created | date:'M.d.Y, H:i A'}}</span>
					</div>
					<div class="post-text">
						<p id="post-content-{{post.id}}">{{post.post}}</p>
					</div>
					{% if user.is_authenticated %}
						<div class="post-buttons">
							<div class="post-button">
								<a id="like-{{post.id}}" data-post="{{post.id}}" onclick="like_post(this)"><i class="far fa-heart {% if post.is_liked != None %} {% if post.is_liked %} post-like-active {% endif %}{% endif %}"></i></a>
								<span id="likes-{{post.id}}">{{post.likes}}</span>
							</div>
							<div class="post-button">
								<a id="dislike-{{post.id}}" data-post="{{post.id}}" onclick="dislike_post(this)"><i class="fas fa-heart-broken {% if post.is_liked != None %} {% if post.is_liked == False %} post-like-active {% endif %}{% endif %}"></i></a>
								<span id="dislikes-{{post.id}}">{{post.dislikes}}</span>
							</div>
						</div>
					{% endif %}
				
				</div>
				{% if user.is_authenticated %}
				{% if user == post.user %}
					<div class="post-edit-button">
						<button data-toggle="modal" data-target="#twit-modal-edit" data-post="${post.id}" data-content="${post.post}" onclick="open_post(this);">
							<i class="far fa-edit"></i>
						</button>
					</div>
				{% endif %}

			{% endif %}
			</div>
		{% empty %}
			<div style="display: flex; height: 100%; justify-content: center; align-items: center;">
				<span style="color: white; font-size: 30px;">No Posts available</span>
			</div>
		{% endfor %}
  </div>
  <div id="twit-modal-edit" class="modal" tabindex="-1" role="dialog" style="background: #a8a8a84d;">
	<div class="modal-dialog" role="document" style="min-width: 590px;">
		  <div class="modal-content" style="background: black; border-radius: 15px;">
			<div class="modal-header" style="border-bottom: 1px solid #ffffff6e;">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" >
				<form action="{% url 'index' %}" method="POST">
					{% csrf_token %}
					<div class="">
						<div class="write-twit">
							<div class="">
								<i class="fas fa-user-circle"></i>
							</div>
							<textarea name="post" id="edit-post" cols="30" rows="3" placeholder="what's happening?"></textarea>	
						</div>
					<div style="display: flex; justify-content: right; ">
						<button id="edit-post-button" onclick="edit_post(this);" type="button" class="add-twit-button" style="width: 100px; height: 40px; margin-top: 15px; margin-bottom: 20px; margin-right: 6%;">
							Save Post
						</button>
					</div>
				</form>
			</div>
		</div>
	  </div>
	</div>
</div>

<div id="twit-modal" class="modal" tabindex="-1" role="dialog" style="background: #a8a8a84d;">
	<div class="modal-dialog" role="document" style="min-width: 590px;">
		  <div class="modal-content" style="background: black; border-radius: 15px;">
			<div class="modal-header" style="border-bottom: 1px solid #ffffff6e;">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" >
				<form action="{% url 'index' %}" method="POST">
					{% csrf_token %}
					<div class="">
						<div class="write-twit">
							<div class="">
								<i class="fas fa-user-circle"></i>
							</div>
							<textarea name="post" id="post" cols="30" rows="3" placeholder="what's happening?"></textarea>	
						</div>
					<div style="display: flex; justify-content: right; ">
						<button class="add-twit-button" style="width: 100px; height: 40px; margin-top: 15px; margin-bottom: 20px; margin-right: 6%;">
							New Post
						</button>
					</div>
				</form>
			</div>
		</div>
	  </div>
	</div>
</div>
</div>
	{{ user.serialize|json_script:"user" }}
{% endblock %}

{% block script %}
    <script>
        var page = 1;
    </script>
	<script src="{% static 'network/assets/js/main.js' %}"></script>
    <script src="{% static 'network/assets/js/profile.js' %}"></script>
{% endblock %}