{% extends "network/layout.html" %}

{% block body %}
<div class="side-main"> 
	<div class="top-fixed">
		<a href="#" class="link-home">Profile</a>
	</div>
  	<div class="profile-top">
		<div class="profile-user">
			<i class="fas fa-user-circle"></i>
		</div>
		<div>
			<div class="profile-username">
				<span>Krys</span>
			</div>
			<div class="profile-joined-date">
				<i class="fas fa-calendar-alt"></i><span>Joined March 2015</span>
			</div>
			<div class="profile-following">
				<div>
					<span>6</span><p><a href="">Following</a></p>
				</div>
				<div>
					<span>15</span><p><a href="">Followers</a></p>
				</div>
			</div>
		</div>
  	</div>
	<div class="post-container disable-scrollbars" style="height: 500px;">
	  	<div class="post">
		  	<div class="post-user">
				<i class="fas fa-user-circle"></i>
		  	</div>
		 	 <div class="post-content">
			  	<div class="post-username">
				  <span>DIG Jack</span>
			  </div>
			  <div class="post-text">
				  <p>Awful awful day from us but we played a lil better in the last series and made top 8. I couldnt be prouder of my teammates' resilience today. LETS GO BOYS i love you both</p>
			  </div>
			  <div class="post-buttons">
				  <div class="post-button">
					  <a href=""><i class="far fa-heart"></i></a>
					  <span>25</span>
				  </div>
				  <div class="post-button">
					  <a href=""><i class="fas fa-heart-broken"></i></a>
					  <span>25</span>
				  </div>
			  </div>
		  </div>
	  </div>
	  <div class="post">
		  <div class="post-user">
			  <i class="fas fa-user-circle"></i>
		  </div>
		  <div class="post-content">
			  <div class="post-username">
				  <span>DIG Jack</span>
			  </div>
			  <div class="post-text">
				  <p>Awful awful day from us but we played a lil better in the last series and made top 8. I couldnt be prouder of my teammates' resilience today. LETS GO BOYS i love you both</p>
			  </div>
			  <div class="post-buttons">
				  <div class="post-button">
					  <a href=""><i class="far fa-heart"></i></a>
					  <span>25</span>
				  </div>
				  <div class="post-button">
					  <a href=""><i class="fas fa-heart-broken"></i></a>
					  <span>25</span>
				  </div>
			  </div>
		  </div>
	  </div>
	  <div class="post">
		  <div class="post-user">
			  <i class="fas fa-user-circle"></i>
		  </div>
		  <div class="post-content">
			  <div class="post-username">
				  <span>DIG Jack</span>
			  </div>
			  <div class="post-text">
				  <p>Awful awful day from us but we played a lil better in the last series and made top 8. I couldnt be prouder of my teammates' resilience today. LETS GO BOYS i love you both</p>
			  </div>
			  <div class="post-buttons">
				  <div class="post-button">
					  <a href=""><i class="far fa-heart"></i></a>
					  <span>25</span>
				  </div>
				  <div class="post-button">
					  <a href=""><i class="fas fa-heart-broken"></i></a>
					  <span>25</span>
				  </div>
			  </div>
		  </div>
	  </div>
	  <div class="post">
		  <div class="post-user">
			  <i class="fas fa-user-circle"></i>
		  </div>
		  <div class="post-content">
			  <div class="post-username">
				  <span>DIG Jack</span>
			  </div>
			  <div class="post-text">
				  <p>Awful awful day from us but we played a lil better in the last series and made top 8. I couldnt be prouder of my teammates' resilience today. LETS GO BOYS i love you both</p>
			  </div>
			  <div class="post-buttons">
				  <div class="post-button">
					  <a href=""><i class="far fa-heart"></i></a>
					  <span>25</span>
				  </div>
				  <div class="post-button">
					  <a href=""><i class="fas fa-heart-broken"></i></a>
					  <span>25</span>
				  </div>
			  </div>
		  </div>
	  </div>
	  <div class="post">
		  <div class="post-user">
			  <i class="fas fa-user-circle"></i>
		  </div>
		  <div class="post-content">
			  <div class="post-username">
				  <span>DIG Jack</span>
			  </div>
			  <div class="post-text">
				  <p>Awful awful day from us but we played a lil better in the last series and made top 8. I couldnt be prouder of my teammates' resilience today. LETS GO BOYS i love you both</p>
			  </div>
			  <div class="post-buttons">
				  <div class="post-button">
					  <a href=""><i class="far fa-heart"></i></a>
					  <span>25</span>
				  </div>
				  <div class="post-button">
					  <a href=""><i class="fas fa-heart-broken"></i></a>
					  <span>25</span>
				  </div>
			  </div>
		  </div>
	  </div>
	  <div class="post">
		  <div class="post-user">
			  <i class="fas fa-user-circle"></i>
		  </div>
		  <div class="post-content">
			  <div class="post-username">
				  <span>DIG Jack</span>
			  </div>
			  <div class="post-text">
				  <p>Awful awful day from us but we played a lil better in the last series and made top 8. I couldnt be prouder of my teammates' resilience today. LETS GO BOYS i love you both</p>
			  </div>
			  <div class="post-buttons">
				  <div class="post-button">
					  <a href=""><i class="far fa-heart"></i></a>
					  <span>25</span>
				  </div>
				  <div class="post-button">
					  <a href=""><i class="fas fa-heart-broken"></i></a>
					  <span>25</span>
				  </div>
			  </div>
		  </div>
	  </div>
	  <div class="post">
		  <div class="post-user">
			  <i class="fas fa-user-circle"></i>
		  </div>
		  <div class="post-content">
			  <div class="post-username">
				  <span>DIG Jack</span>
			  </div>
			  <div class="post-text">
				  <p>Awful awful day from us but we played a lil better in the last series and made top 8. I couldnt be prouder of my teammates' resilience today. LETS GO BOYS i love you both</p>
			  </div>
			  <div class="post-buttons">
				  <div class="post-button">
					  <a href=""><i class="far fa-heart"></i></a>
					  <span>25</span>
				  </div>
				  <div class="post-button">
					  <a href=""><i class="fas fa-heart-broken"></i></a>
					  <span>25</span>
				  </div>
			  </div>
		  </div>
	  </div>
	  <div class="post">
		  <div class="post-user">
			  <i class="fas fa-user-circle"></i>
		  </div>
		  <div class="post-content">
			  <div class="post-username">
				  <span>DIG Jack</span>
			  </div>
			  <div class="post-text">
				  <p>Awful awful day from us but we played a lil better in the last series and made top 8. I couldnt be prouder of my teammates' resilience today. LETS GO BOYS i love you both</p>
			  </div>
			  <div class="post-buttons">
				  <div class="post-button">
					  <a href=""><i class="far fa-heart"></i></a>
					  <span>25</span>
				  </div>
				  <div class="post-button">
					  <a href=""><i class="fas fa-heart-broken"></i></a>
					  <span>25</span>
				  </div>
			  </div>
		  </div>
	  </div>
	  <div class="post">
		  <div class="post-user">
			  <i class="fas fa-user-circle"></i>
		  </div>
		  <div class="post-content">
			  <div class="post-username">
				  <span>DIG Jack</span>
			  </div>
			  <div class="post-text">
				  <p>Awful awful day from us but we played a lil better in the last series and made top 8. I couldnt be prouder of my teammates' resilience today. LETS GO BOYS i love you both</p>
			  </div>
			  <div class="post-buttons">
				  <div class="post-button">
					  <a href=""><i class="far fa-heart"></i></a>
					  <span>25</span>
				  </div>
				  <div class="post-button">
					  <a href=""><i class="fas fa-heart-broken"></i></a>
					  <span>25</span>
				  </div>
			  </div>
		  </div>
	  </div>
	  <div class="post">
		  <div class="post-user">
			  <i class="fas fa-user-circle"></i>
		  </div>
		  <div class="post-content">
			  <div class="post-username">
				  <span>DIG Jack</span>
			  </div>
			  <div class="post-text">
				  <p>Awful awful day from us but we played a lil better in the last series and made top 8. I couldnt be prouder of my teammates' resilience today. LETS GO BOYS i love you both</p>
			  </div>
			  <div class="post-buttons">
				  <div class="post-button">
					  <a href=""><i class="far fa-heart"></i></a>
					  <span>25</span>
				  </div>
				  <div class="post-button">
					  <a href=""><i class="fas fa-heart-broken"></i></a>
					  <span>25</span>
				  </div>
			  </div>
		  </div>
	  </div>
  </div>
</div>

{% endblock %}